<!DOCTYPE html>
<html>
<head>
    <title>Data Entry Form</title>
</head>
<body>
    <h1>Enter Data</h1>
    <form action="/submit" method="post">
        <label for="mapName">Map Name:</label>
        <select id="mapName" name="mapName">
            <option value="Ascent">Ascent</option>
            <option value="Split">Split</option>
            <option value="Fracture">Fracture</option>
            <option value="Bind">Bind</option>
            <option value="Breeze">Breeze</option>
            <option value="Lotus">Lotus</option>
            <option value="Sunset">Sunset</option>
            <option value="Pearl">Pearl</option>
            <option value="Icebox">Icebox</option>
            <option value="Haven">Haven</option>
            <option value="Abyss">Abyss</option>
        </select><br><br>
        <label for="buyValue">Buy Value:</label>
        <select id="buyValue" name="buyValue">
            <option value="pistol">Pistol</option>
            <option value="rifle">Rifle</option>
            <option value="all">All</option>
            <option value="fullbuy">Full Buy</option>
            <option value="midbuy">Mid Buy</option>
            <option value="eco">Eco</option>
        </select><br><br>
        <label for="killLocations">Kill Locations:</label>
        <input type="checkbox" id="killLocations" name="killLocations" value="true"><br><br>
        <label for="deathLocations">Death Locations:</label>
        <input type="checkbox" id="deathLocations" name="deathLocations" value="true"><br><br>
        <label for="positioningGuide">Positioning Guide:</label>
        <input type="checkbox" id="positioningGuide" name="positioningGuide" value="true"><br><br>
        <input type="submit" value="Submit">
    </form>
    <div>
        {{ images|safe }}
    </div>
</body>
</html>
